.white-text {
    color:white;
}

@font-face {
    font-family: "HYWenHei";
    src: url(zhcn.ttf);
}

.title {
    text-align: center;
    font-size: 32px;
    font-family: "HYWenhei", Arial, Helvetica, sans-serif
}